[editable] {
    text-decoration: none;
    color: #428bca;
    border-bottom: 1px dashed #428bca;
    cursor: pointer;
}

[editable]:hover {
    text-decoration: none;    
}

[editable]:empty::before {
    content: 'empty';
    color: #DD1144;
    font-style: italic;    
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip: rect(0 0 0 0);
    overflow: hidden;  
}
.btn--hide {
    display: none;
}

.btn--show {
    display: inline-block;
}